@import 'src/styles/colors.scss';

:host {}



.contact-content {
  margin: auto;
  width: fit-content;
  color: #fff;
  padding: 50px;
  padding-top: 80px;
}

.title-principal {
  margin: 0;

  &::after {
    background-color: $secundary-color;
    height: 5px;
    width: 200px;
    margin-top: 2px;
    content: "";
    display: flex;
    animation: width 1s ease-in-out;
  }
}

@keyframes width {
  0% {
    width: 0
  }

  100% {
    width: 200px
  }
}


.sub-title {
  font-size: 30px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 50px;
}

.contact-container {
  width: 500px;
}

@media only screen and (max-width: 768px) {
  .contact-content {
    padding: 0px;
    width: 85%;
    padding-top: 80px;
  }

  .title-principal {
    font-size: 70px;
  }

  .contact-container {
    width: 100%;
  }

}

input {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  display: block;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #757575;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  background: $background-secundary-color;
  /* padding: 8px; */
  padding-left: 7px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


input:focus~label,
.input-filled~label {
  top: -20px !important;
  font-size: 14px;
  left: 0;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $main-color;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 50%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #0b4cbc;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #0b4cbc;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #0b4cbc;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.send-button {
  text-align: right;
}

.group {
  position: relative;
  margin-bottom: 27px;
}

.group.message {

  // margin-top: 52px;
  input {
    height: 60px;
  }
}

.error-label {
  color: red;
  font-size: 16px !important;
  padding-bottom: 5px;
  position: absolute;
  right: 0px;
}

.error-input {
  border-bottom: solid 1px red;
}

.error-empty {
  height: 24px;
}

.error-input~.error-empty {
  display: none;
}

.send-button {

  .button-send {
    font-weight: 900;
    text-align: center;
    color: $secundary-color;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      text-decoration: none;
    }


    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: $secundary-color;
      stroke-width: 5;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }

  .button-send:hover {
    background: rgba($main-color, 0);
    font-weight: 900;
    //color: $main-color;

    rect {
      stroke: $main-color;
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
