<div class="about-content">
    <h1 class="title-principal">About me</h1>

    <div class="row-about">
        
        <div class="text-content">
            <h4>Software Developer</h4>
            <p>Professionally connected with the web development industry and information technology for many years.</p>
            <p>Well-organised person, problem solver, independent employee with high attention to detail. </p> 
             <p> Fan of MMA, outdoor activities, TV series and, recently, English literature. A family person, father of two fractious boys, therefore remote employment is preferred.</p>

        </div>
    
        <div  class="animation-content">
            <div class="container-slider">
                <div id="carousel_sides">
                    <figure><img src="assets/skills/angular.png"></figure>
                    <figure><img src="assets/skills/javascript.png"></figure>
                    <figure><img class="python-image" src="assets/skills/python.png"></figure>
                    
        
                 </div>
            </div>
        </div>
    
    </div>

 
</div>
