<div class="about-content">
    <h1 class="title-principal">Sobre mí</h1>

    <div class="row-about">
        
        <div class="text-content">
            <h2>Ingeniero de Software</h2>

            <p>Apasionado por buscar soluciones tecnológicas que realicen un impacto positivo en nuestra sociedad.
                Estoy constantemente explorando nuevas oportunidades y conocimientos, para mejorar mis habilidades como profesional.
            </p>
            <p>Poseo sólidos conocimientos en tecnologías para desarrollo de aplicaciones con <b>Python</b> (Django), <b>JavaScript</b> (Angular y React) y <b>Docker</b></p>
            <p>Además de conocimiento avanzado en herramientas para desarrollo colaborativo como <b>Git</b> (Github y Gitlab), <b>Jira</b>, <b>Slack</b></p>
        </div>
    
        <div  class="animation-content">
            <div class="container-slider">
                <div id="carousel_sides">
                    <figure><img src="assets/skills/angular.png"></figure>
                    <figure><img src="assets/skills/javascript.png"></figure>
                    <figure><img class="python-image" src="assets/skills/python.png"></figure>
                    
        
                 </div>
            </div>
        </div>
    
    </div>

 
</div>
