app-menu-pc {
  display: block;
}

app-menu-mobile {
  display: none;
}


@media only screen and (max-width: 768px) {
  app-menu-pc {
    display: none !important;
  }

  app-menu-mobile {
    display: flex !important;
  }
}

