<div class="home-content">
  <div style="width: max-content;"> 
    <h1 class="title-principal" style="margin: 0;">Hola!</h1>
  </div>  

  <h1 style="font-size: 50px;margin: 0;">Bienvenid@ a mi Portafolio</h1>
  <h1 class="name-home">Fernando Arriagada</h1>
  <div class="profession-home">
    <a routerLink="/about">FullStack Developer</a> / <a routerLink="/about">Frontend Developer</a>
  </div>
  <div class="buttons">
    <a class="button-send" routerLink="/contact">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
    CONTACTO
    </a>
    <a class="button-send button-download" href="/assets/CV-Fernando-Arriagada.pdf" target="_blank">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
      Descargar CV
    </a>
  </div>
</div>
