$main-color: #ffaf29;
$secundary-color: #ffc25c;
$complentary-color1: #ffcd29;
$complentary-color2: #ff2929;

$background-primary-color: #222222;
$background-secundary-color: #333333;



//other pallet color 
//$background-secundary-color: #17151e;