<div class="project-content">
    <h1 class="title-principal">Projects</h1>

    <div class="list-container">


        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/planify.png">
            </div>
            <div class="text-container">
                <h2>Planify</h2>
                <h3>Plataforma para managment de proyectos de construcción</h3>
                <p class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis eveniet minus dolore suscipit rerum quas.
                </p>
            </div>
        </div>


        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/totem.png">
            </div>
            <div class="text-container">
                <h2>Espacios .CO</h2>
                <h3>Plataforma para gestión de eventos con lector NFC</h3>
                <p class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis eveniet minus dolore suscipit rerum quas.
                </p>
            </div>
        </div>

        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/safecheck.jpg">
            </div>
            <div class="text-container">
                <h2>SafeCheck</h2>
                <h3>Plataforma de busqueda de antecedentes penales</h3>
                <p class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis eveniet minus dolore suscipit rerum quas.
                </p>
            </div>
        </div>

        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/siscom.png">
            </div>
            <div class="text-container">
                <h2>Siscom</h2>
                <h3>Sistema de cálculo de comisiones</h3>
                <p class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis eveniet minus dolore suscipit rerum quas.
                </p>
            </div>
        </div>
    </div>


  
</div>
