<div class="project-content">
    <h1 class="title-principal">My Work</h1>

    <div class="list-container">


        <div class="project-card">
            <div class="img-container">
                <h1>Planify</h1>
                <!-- <div class="techs-row">
                    <img src="assets/skills/angular.png">
                    <img src="assets/skills/python.png">
                    <img src="assets/skills/docker.png">
                </div> -->
                <h2>Plataforma para managment de proyectos de construcción</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
                </p>
                <img src="assets/projects/planify.png">
                
            </div>
            <div class="text-container">
                
                <div class="project-description">
                    <h2>My Work</h2>
                    <ul style="font-size: 18px; opacity: 0.85;line-height: 30px">
                        <li>Revisor de merges request</li>
                        <li>Selección de frameworks y librerias principales</li>
                        <li>Desarrollé la estructura principal de modulos, rutas y componentes de forma escalable y carga Lazy</li>
                        <li>Mensajería push con Web-Sockets</li>
                        <li>Desarrollé los servicios de auntentificación y permisos para roles de usuarios</li>
                        <li>Pruebas unitarias con Karma de componentes de Angular 9</li>
                        <li>Colaboré en desarrollo de endpoints y Pruebas de integración Django</li>
                    </ul>                      
               </div>
            </div>
        </div>


        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/totem.png">
            </div>
            <div class="text-container">
                <h2>Espacios .CO</h2>
                <h3>Plataforma para gestión de eventos con lector NFC</h3>
                <p class="project-description">
                    Planificación y mockup de vistas de app. 
                    Scrum Master para cordinación de equipos en desarrollo de softwares ágiles. 
                    Desarrollo de arquitectura frontend de app en Angular 8. 
                    Desarrollo backend en python 3.7 con framework Django. 
                    Revisor de merges en Gitlab.   </p>
            </div>
        </div>

        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/safecheck.jpg">
            </div>
            <div class="text-container">
                <h2>SafeCheck</h2>
                <h3>Plataforma de busqueda de antecedentes penales</h3>
                <p class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis eveniet minus dolore suscipit rerum quas.
                </p>
            </div>
        </div>

        <div class="project-card">
            <div class="img-container">
                <img src="assets/projects/siscom.png">
            </div>
            <div class="text-container">
                <h2>Siscom</h2>
                <h3>Sistema de cálculo de comisiones</h3>
                <p class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis eveniet minus dolore suscipit rerum quas.
                </p>
            </div>
        </div>
    </div>


  
</div>
