<div class="project-content">
  <h1 class="title-principal">Mi Trabajo</h1>
  <div class="list-container">
    <div class="project-card">
      <div class="img-container">
        <h1>Planify</h1>
        <h2>Plataforma para managment de proyectos de construcción</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
        </p>
        <img src="assets/projects/planify.png">
      </div>
      <div class="text-container">
        <div class="project-description">
          <h2>Mi Trabajo</h2>
          <ul style="font-size: 18px; opacity: 0.85;line-height: 30px">
            <li>Revisor de merges request</li>
            <li>Selección de frameworks y librerias principales</li>
            <li>Desarrollé la estructura principal de modulos, rutas y componentes de forma escalable y carga Lazy</li>
            <li>Mensajería push con Web-Sockets</li>
            <li>Desarrollé los servicios de auntentificación y permisos para roles de usuarios</li>
            <li>Pruebas unitarias con Karma de componentes de Angular 9</li>
            <li>Colaboré en desarrollo de endpoints y Pruebas de integración Django</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="img-container">
        <h1>Espacios .CO</h1>
        <h2>Plataforma para gestión de eventos con lector NFC</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
        </p>
        <img src="assets/projects/totem.png">
      </div>
      <div class="text-container">
        <div class="project-description">
        <h2>Mi Trabajo</h2>
            <ul style="font-size: 18px; opacity: 0.85;line-height: 30px">
            <li>Planificación y mockup de vistas de app. </li>
            <li>Scrum Master para cordinación de equipos en desarrollo de softwares ágiles. </li>
            <li>Desarrollo de arquitectura frontend de app en Angular 8.</li>
            <li>Desarrollo backend en python 3.7 con framework Django. </li>
            <li>Revisor de merges en Gitlab.</li>
            <li>Pruebas unitarias con Karma de componentes de Angular 9</li>
            <li>Colaboré en desarrollo de endpoints y Pruebas de integración Django</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="project-card">
        <div class="img-container">
            <h1>SafeCheck</h1>
            <h2>Plataforma de busqueda de antecedentes penales</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
          </p>
          <img src="assets/projects/safecheck.jpg">
        </div>
        <div class="text-container">
          <div class="project-description">
            <h2>Mi Trabajo</h2>
            <ul style="font-size: 18px; opacity: 0.85;line-height: 30px">
              <li>Planificación y mockup de vistas de app. </li>
              <li>Scrum Master para cordinación de equipos en desarrollo de softwares ágiles. </li>
              <li>Desarrollo de arquitectura frontend de app en Angular 8.</li>
              <li>Desarrollo backend en python 3.7 con framework Django. </li>
              <li>Revisor de merges en Gitlab.</li>
              <li>Pruebas unitarias con Karma de componentes de Angular 9</li>
              <li>Colaboré en desarrollo de endpoints y Pruebas de integración Django</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="img-container">
            <h1>Siscom</h1>
            <h2>Sistema de cálculo de comisiones</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio, quasi hic.
          </p>
          <img src="assets/projects/siscom.png">
        </div>
        <div class="text-container">
          <div class="project-description">
            <h2>Mi Trabajo</h2>
            <ul style="font-size: 18px; opacity: 0.85;line-height: 30px">
              <li>Planificación y mockup de vistas de app. </li>
              <li>Scrum Master para cordinación de equipos en desarrollo de softwares ágiles. </li>
              <li>Desarrollo de arquitectura frontend de app en Angular 8.</li>
              <li>Desarrollo backend en python 3.7 con framework Django. </li>
              <li>Revisor de merges en Gitlab.</li>
              <li>Pruebas unitarias con Karma de componentes de Angular 9</li>
              <li>Colaboré en desarrollo de endpoints y Pruebas de integración Django</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
