@import 'src/styles/colors.scss';

.layout {
    display: flex;
    overflow: hidden;
    background: url(https://yasio.pl/assets/img/a5d79c8.webp);
    background: $background-primary-color;

    .content-view {
        height: 100vh;
        width: -webkit-fill-available;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .layout {
        display: block !important;
    }
}



 .content-view::-webkit-scrollbar {
    width: 12px; 
    background-color: $background-primary-color;
 }
 
 .content-view::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $background-primary-color;
 }
 
 .content-view::-webkit-scrollbar-thumb {
    //border-radius: 10px;
    background-color: #151515;
 }