@import 'src/styles/colors.scss';

.layout {
    display: flex;
    overflow: hidden;
    background: url(https://yasio.pl/assets/img/a5d79c8.webp);
    // background: $background-primary-color;

    .content-view {
        height: 100vh;
        width: -webkit-fill-available;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .layout {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
   .content-view::-webkit-scrollbar {
      width: 12px; 
      background-color: $background-primary-color;
   }
   
   .content-view::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $background-primary-color;
   }
   
   .content-view::-webkit-scrollbar-thumb {
      //border-radius: 10px;
      background-color: $background-secundary-color;
   }
}





 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
 }

 .video-grid {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index: -1;
 }


 