.layout {
    display: flex;
    overflow: hidden;
    
    .content-view {
        height: 100vh;
        background-color: #222222;
        width: -webkit-fill-available;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .layout {
        display: block !important;
    }
}



 .content-view::-webkit-scrollbar {
    width: 12px; 
    background-color: #313131;
 }
 
 .content-view::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #313131;
 }
 
 .content-view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #151515;
 }