<!---->
<header id='nav-bar' class="nav-ontop">

  <div (click)="is_side_bar_show = !is_side_bar_show" [ngClass]="{'active' : is_side_bar_show}" class="button_container"
    id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>

  <div class="overlay" id="overlay" [ngClass]="{'open' : is_side_bar_show}">
    <nav class="overlay-menu">
      <ul>
        <li>
          <button class="button-menu button-text" (click)="setRoute('')">
            Inicio
          </button>
        </li>
        <li>
          <button class="button-menu button-text" (click)="setRoute('about')">
            About me
          </button>
        </li>
        <!-- <li>
          <button class="button-menu button-text" (click)="setRoute('projects')">
            Mi Trabajo
          </button>
        </li> -->
        <li>
          <button class="button-menu button-text" (click)="setRoute('contact')">
            Contacto
          </button>
        </li>
      </ul>
    </nav>
  </div>

</header>
