<div id="side-bar-pc" [ngClass]="{'side-bar-hide' : is_side_bar_hide}">
    <div style="padding:20px;">
      <div id="icon-menu-contain">
        <div (click)="is_side_bar_hide = !is_side_bar_hide" id="icon-menu"></div>
      </div>
    </div>
    <br><br><br><br>
    <div class="button-box">
      <hr>
      <div class="button-icon-row" >
        <div class="icon-contain" routerLink="/">
          <div class="icon icon-home"></div> 
        </div>
        <button class="button-menu button-text" (click)="setRoute('')">
          Inicio
        </button>
      </div>
      <hr>
      <div class="button-icon-row" >
        <div class="icon-contain" routerLink="about">
          <div class="icon icon-about"></div> 
        </div>
        <button class="button-menu button-text" (click)="setRoute('about')">
          Sobre mí
        </button>
      </div>
      <!-- <hr>
       <div class="button-icon-row" >
        <div class="icon-contain" routerLink="projects">
          <div class="icon icon-projects"></div> 
        </div>
        <button class="button-menu button-text" (click)="setRoute('projects')">
          Mi Trabajo
        </button>
      </div> -->
     
      <hr>
      <!-- <div class="button-icon-row" >
        <div class="icon-contain" routerLink="skills">
          <div class="icon icon-skills"></div> 
        </div>
        <button class="button-menu button-text last" routerLink="skills"><span>Skills</span></button>
      </div>
      <hr> -->
      <div class="button-icon-row">
        <div class="icon-contain"  routerLink="contact">
          <div class="icon icon-contact"></div> 
        </div>
        <button class="button-menu button-text" (click)="setRoute('contact')">
          Contacto
        </button>
      </div>
      <hr>
    </div>
  </div>
  