<div class="skills-content">
    <h1 class="title-principal">Hello!</h1>


    <section class="section-skills">
        <h2>Frontend</h2>
        <div class="row-skills">
            <img src="assets/skills/angular.png">
            <img src="assets/skills/javascript.png">
            <img src="assets/skills/jquery.svg">
            <img src="assets/skills/css3.svg">
            <img src="assets/skills/typescript.png">
        </div>
    </section>
    <section class="section-skills">
        <h2>Backend & DevOps</h2>
        <div class="row-skills">
            <img src="assets/skills/python.png">
            <img src="assets/skills/node-js.png">
            <img src="assets/skills/docker.png">
        </div>
    </section>
    <section class="section-skills">
        <h2>Designer</h2>
        <div class="row-skills">
            <img src="assets/skills/adobe-illustrator.svg">
            <img src="assets/skills/adobe-xd.svg">
            <img src="assets/skills/invision.svg">
        </div>
    </section>

</div>
  